flows/Class_Alerts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>This element redirects the user at completion to a report showing recently created Alerts.</description>
        <name>Report_Redirect</name>
        <label>Report Redirect</label>
        <locationX>183</locationX>
        <locationY>1936</locationY>
        <actionName>c:RedirectComponent</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <stringValue>00O1U000007B8PcUAK</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Creates and Adds the Alert to the Collection</description>
        <name>Add_Alert_to_Collection</name>
        <label>Add Alert to Collection</label>
        <locationX>1261</locationX>
        <locationY>1764</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentAlertInLoop.sfal__Advisee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CurrentContactInLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentAlertInLoop.sfal__AdviseeRecord__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AdviseeCaseID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentAlertInLoop.sfal__Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Alert_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentAlertInLoop.sfal__Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Alert_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentAlertInLoop.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AlertRecordTypeID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentAlertInLoop.sfal__CourseConnection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CourseConnectionID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentAlertInLoop.sfal__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Comment_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign alert variables</description>
        <name>Assign_Alert_Variables</name>
        <label>Assign Alert Variables</label>
        <locationX>333</locationX>
        <locationY>1059</locationY>
        <assignmentItems>
            <assignToReference>var_Alert_Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pkl_Priority_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Alert_Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_AlertReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Scrn3_SelectStudent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Comments to the current Alert record</description>
        <name>Assign_Comments</name>
        <label>Assign Comments</label>
        <locationX>857</locationX>
        <locationY>1930</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentAlertInLoop.sfal__Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_IndvComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_to_Alert_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the IDs selected to a variable for usage.</description>
        <name>Assign_Contact_IDs</name>
        <label>Assign Contact IDs</label>
        <locationX>689</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chk1_students</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the ID of the course selected</description>
        <name>Assign_Course_Offering_ID</name>
        <label>Assign Course Offering ID</label>
        <locationX>662</locationX>
        <locationY>921</locationY>
        <assignmentItems>
            <assignToReference>var_CourseOfferingID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp2_courseoffering</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCourseInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the Current Alert record to the Alert Collection</description>
        <name>Assign_Current_to_Alert_Collection</name>
        <label>Assign Current to Alert Collection</label>
        <locationX>857</locationX>
        <locationY>1761</locationY>
        <assignmentItems>
            <assignToReference>coll_Alerts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_CurrentAlertInLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AlertCreation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the ID of the Faculty Contact found to main variable.</description>
        <name>assign_FacultyID</name>
        <label>assign_FacultyID</label>
        <locationX>370</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>var_FacultyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_FacultyContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_FacultyRT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parse_String</name>
        <label>Parse String</label>
        <locationX>1078</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>var_SelectedContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingContacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_Contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Resets the comment field after an entry</description>
        <name>Reset_Comment_field</name>
        <label>Reset Comment field</label>
        <locationX>1189</locationX>
        <locationY>1973</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentAlertInLoop.sfal__Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alert_Controller</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Wipes the collection of contacts to ensure only those who need to run through again are included.</description>
        <name>Wipe_CollContacts</name>
        <label>Wipe_CollContacts</label>
        <locationX>180</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>coll_Contacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptySObjectCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Starting_Point</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>This choice is to give the faculty an &quot;Attendance Alert&quot; type</description>
        <name>choice_AttendanceAlert</name>
        <choiceText>Attendance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attendance Concern</stringValue>
        </value>
    </choices>
    <choices>
        <description>This choice is to give the faculty an &quot;Failure Alert&quot; type</description>
        <name>choice_FailureConcern</name>
        <choiceText>Failure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failure Concern</stringValue>
        </value>
    </choices>
    <choices>
        <description>This choice is to give the faculty an &quot;Grade Alert&quot; type</description>
        <name>choice_GradeConcern</name>
        <choiceText>Grade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Grade Concern</stringValue>
        </value>
    </choices>
    <decisions>
        <description>What type of alerts are being created - individual or batch?</description>
        <name>Alert_Controller</name>
        <label>Alert Controller</label>
        <locationX>1047</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_to_Alert_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Batch</defaultConnectorLabel>
        <rules>
            <name>Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AlertToggle_Individual</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrn_Individual_Comments</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
    </decisions>
    <decisions>
        <description>How many contacts are in the string</description>
        <name>Count_Contacts</name>
        <label>Count Contacts</label>
        <locationX>848</locationX>
        <locationY>1061</locationY>
        <defaultConnector>
            <targetReference>loop_AlertCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides if more alerts are needed and controls the next step</description>
        <name>Decision_More_Alerts</name>
        <label>Decision - More Alerts</label>
        <locationX>171</locationX>
        <locationY>1594</locationY>
        <defaultConnector>
            <targetReference>Create_Alerts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Alerts</defaultConnectorLabel>
        <rules>
            <name>More_Alerts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AddtAlerts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wipe_CollContacts</targetReference>
            </connector>
            <label>More Alerts</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decides where to start the user off in the flow based on variable input</description>
        <name>Starting_Point</name>
        <label>Starting Point</label>
        <locationX>172</locationX>
        <locationY>738</locationY>
        <defaultConnector>
            <targetReference>SCRN1_Faculty_Selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Starting Point</defaultConnectorLabel>
        <rules>
            <name>Faculty_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_FacultyID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scrn2_CourseSelector</targetReference>
            </connector>
            <label>Faculty Provided</label>
        </rules>
        <rules>
            <name>Course_Offering_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CourseOfferingID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a041</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Types_0</targetReference>
            </connector>
            <label>Course Offering Provided</label>
        </rules>
    </decisions>
    <description>V10 - Added final text changes per Adam</description>
    <dynamicChoiceSets>
        <description>Stores the priority of the Alert being created.</description>
        <name>pklSet_AlertPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>sfal__Priority__c</picklistField>
        <picklistObject>sfal__Alert__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Stores the Alert Reason field</description>
        <name>pklSet_AlertReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>sfal__Reason__c</picklistField>
        <picklistObject>sfal__Alert__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Stores the Alert status options</description>
        <name>pklSet_AlertStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>sfal__Status__c</picklistField>
        <picklistObject>sfal__Alert__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Stores the record types of Alerts able to be created.</description>
        <name>recSet_AlertType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sfal__Alert__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Looks up all Course Offerings where the selected faculty member is listed as primary</description>
        <name>recSet_CourseOffering</name>
        <dataType>String</dataType>
        <displayField>Course_Section__c</displayField>
        <filters>
            <field>hed__Faculty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FacultyID</elementReference>
            </value>
        </filters>
        <object>hed__Course_Offering__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recSet_Faculty</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FacultyRT.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recSet_StudentsViaCourseConnections</name>
        <dataType>String</dataType>
        <displayField>Contact_Name__c</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_StudentCourseEnrollmentRT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CourseOfferingID</elementReference>
            </value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <sortField>hed__Contact__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>hed__Contact__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Number of Contacts in String</description>
        <name>Counter</name>
        <dataType>Number</dataType>
        <expression>CEILING({!Length}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>get the Contact ID of the user record for who is running the flow</description>
        <name>form_UserContactID</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <description>Get the ID of the user running the flow</description>
        <name>form_UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Length of the Contact ID String</description>
        <name>Length</name>
        <dataType>Number</dataType>
        <expression>LEN({!var_SelectedContacts})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Stores the remaining Contacts from the string yet to be parsed</description>
        <name>RemainingContacts</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!var_SelectedContacts},({!Length}-20) ))</expression>
    </formulas>
    <formulas>
        <description>Stores a single Contact ID after parsing</description>
        <name>Single_ContactID</name>
        <dataType>String</dataType>
        <expression>LEFT( {!var_SelectedContacts},18 )</expression>
    </formulas>
    <interviewLabel>Class_Alerts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Class_Alerts</label>
    <loops>
        <description>Creates alerts for each of the contacts in the collection.</description>
        <name>loop_AlertCreation</name>
        <label>loop_AlertCreation</label>
        <locationX>856</locationX>
        <locationY>1592</locationY>
        <assignNextValueToReference>var_CurrentContactInLoop</assignNextValueToReference>
        <collectionReference>coll_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_AdviseeCaseID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Scrn_Addt_Alerts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Alerts from the collection</description>
        <name>Create_Alerts</name>
        <label>Create Alerts</label>
        <locationX>181</locationX>
        <locationY>1781</locationY>
        <connector>
            <targetReference>Report_Redirect</targetReference>
        </connector>
        <inputReference>coll_Alerts</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Looks Up the Advisee Case</description>
        <name>get_AdviseeCaseID</name>
        <label>get_AdviseeCaseID</label>
        <locationX>1074</locationX>
        <locationY>1591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCourseConnectionID</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CurrentContactInLoop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AdviseeCaseRT.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>var_AdviseeCaseID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Looks up the Advisee Case Record Type</description>
        <name>get_AdviseeCaseRecordType</name>
        <label>get_AdviseeCaseRecordType</label>
        <locationX>266</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Starting_Point</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advisee Record</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>var_AdviseeCaseRT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Alert Record Type for usage later in flow</description>
        <name>get_AlertRecordType</name>
        <label>get_AlertRecordType</label>
        <locationX>407</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AdviseeCaseRecordType</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Academic</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sfal__Alert__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>var_AlertRecordTypeID</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Looks up the Contact ID of the current user to see if it is faculty.</description>
        <name>get_FacultyContact</name>
        <label>get_FacultyContact</label>
        <locationX>271</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_FacultyID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>get_FacultyRT</targetReference>
        </faultConnector>
        <filters>
            <field>Faculty_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_UserID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>var_FacultyContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Faculty RT for lookup later in the flow.</description>
        <name>get_FacultyRT</name>
        <label>get_FacultyRT</label>
        <locationX>266</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStudentCC_RT</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Faculty</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>var_FacultyRT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Lookup Contact from Single ID formula</description>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>1079</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parse_String</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Single_ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>var_SingleContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Course Connection ID for this student and Course Offering</description>
        <name>getCourseConnectionID</name>
        <label>getCourseConnectionID</label>
        <locationX>1262</locationX>
        <locationY>1591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Alert_to_Collection</targetReference>
        </connector>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CurrentContactInLoop.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CourseOfferingID</elementReference>
            </value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <outputReference>var_CourseConnectionID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Course Information from the previous screen</description>
        <name>getCourseInfo</name>
        <label>getCourseInfo</label>
        <locationX>540</locationX>
        <locationY>921</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alert_Types_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CourseOfferingID</elementReference>
            </value>
        </filters>
        <object>hed__Course_Offering__c</object>
        <outputReference>var_SelectedCourse</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>hed__Course__c</queriedFields>
        <queriedFields>hed__Section_ID__c</queriedFields>
        <queriedFields>hed__Term__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Student Record Type ID from Course Connections to filter the student list later in flow.</description>
        <name>getStudentCC_RT</name>
        <label>getStudentCC_RT</label>
        <locationX>407</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AlertRecordType</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>hed__Course_Enrollment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>var_StudentCourseEnrollmentRT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <description>What type of Alert are you wanting to create?</description>
        <name>Alert_Types_0</name>
        <label>Alert Types</label>
        <locationX>334</locationX>
        <locationY>921</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Alert_Variables</targetReference>
        </connector>
        <fields>
            <name>Header_AlertScreen_0</name>
            <fieldText>&lt;p&gt;Please specify the type of alert you want to create for the students selected in &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!var_SelectedCourse.Name}&lt;/span&gt;:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inp_AlertReason</name>
            <choiceReferences>choice_AttendanceAlert</choiceReferences>
            <choiceReferences>choice_GradeConcern</choiceReferences>
            <choiceReferences>choice_FailureConcern</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose an Alert Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>pkl_Priority_0</name>
            <choiceReferences>pklSet_AlertPriority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displ_ToggleReason_0</name>
            <fieldText>&lt;p&gt;Using the toggle below, please indicate the type of alerts you&apos;re intending to create. &lt;/p&gt;&lt;p&gt;“Individual” will allow you to add a specific number of absences or grade for each student selected on the next page.&lt;/p&gt;&lt;p&gt;“Batch” will automatically create all alerts with just the alert type and will not allow you to add additional information to each alert. It is encouraged to report using “individual.”&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Alert_Toggle_0</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Individual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Batch</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_AlertToggle_Individual</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <pausedText>&lt;p&gt;This flow has been temporarily paused. You can continue at a later time and it will pick up from this point.&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCRN1_Faculty_Selection</name>
        <label>SCRN1-Faculty-Selection</label>
        <locationX>596</locationX>
        <locationY>724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Scrn2_CourseSelector</targetReference>
        </connector>
        <fields>
            <name>lkp_Faculty_Contact</name>
            <extensionName>mp35:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please select a faculty member:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>RecordTypeId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>var_FacultyRT.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_FacultyID</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scrn2_CourseSelector</name>
        <label>Scrn2-CourseSelector</label>
        <locationX>796</locationX>
        <locationY>851</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Course_Offering_ID</targetReference>
        </connector>
        <fields>
            <name>inp2_courseoffering</name>
            <choiceReferences>recSet_CourseOffering</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a course for current term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scrn3_SelectStudent</name>
        <label>Scrn3-SelectStudent</label>
        <locationX>535</locationX>
        <locationY>1059</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Contact_IDs</targetReference>
        </connector>
        <fields>
            <name>Header_StudentSelection</name>
            <fieldText>&lt;p&gt;Please select one or more students from &lt;b&gt;{!var_SelectedCourse.Name}&lt;/b&gt; for &lt;b&gt;{!var_Alert_Reason}&lt;/b&gt; Alert:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chk1_students</name>
            <choiceReferences>recSet_StudentsViaCourseConnections</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Students</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to give the user the ability to add more alerts to the collection before record creation.</description>
        <name>Scrn_Addt_Alerts</name>
        <label>Additional Alerts?</label>
        <locationX>605</locationX>
        <locationY>1593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_More_Alerts</targetReference>
        </connector>
        <fields>
            <name>Additional_Alerts_Label</name>
            <fieldText>&lt;p&gt;To proceed to the next course or submit additional alerts, set toggle to &quot;yes&quot;. If you have finished submitting alerts for all courses, set toggle to &quot;no&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>toggl_AddtAlerts</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you have additional alerts to create?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_AddtAlerts</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Gives the user the ability to add comments to individual students.</description>
        <name>scrn_Individual_Comments</name>
        <label>Individual Comments</label>
        <locationX>1012</locationX>
        <locationY>1977</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Comments</targetReference>
        </connector>
        <fields>
            <name>disp3_IndvComments</name>
            <fieldText>&lt;p&gt;Course: &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 55, 255);&quot;&gt;{!var_SelectedCourse.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Student Name: &lt;b style=&quot;color: rgb(0, 55, 255);&quot;&gt;{!var_CurrentContactInLoop.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Alert Type: &lt;b style=&quot;color: rgb(0, 55, 255);&quot;&gt;{!var_Alert_Reason}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Depending on alert type, please use guides below for what to include in comment box:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Attendance Concern: &lt;/b&gt;Please include total number of absences (excused and unexcused) and any concerns regarding academic performance in this class.&lt;/li&gt;&lt;li&gt;&lt;b&gt;Grade Concern: &lt;/b&gt;Please include grade to date and any concerns regarding academic performance in this class.&lt;/li&gt;&lt;li&gt;&lt;b&gt;Failure Concern: &lt;/b&gt; Please include the details of your concern.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inp_IndvComments</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue> </stringValue>
            </defaultValue>
            <fieldText>{!var_Alert_Reason} comments:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>get_FacultyContact</startElementReference>
    <status>Active</status>
    <variables>
        <description>Collection of alerts to be created.</description>
        <name>coll_Alerts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sfal__Alert__c</objectType>
    </variables>
    <variables>
        <description>Stores the collection of Contact IDs being worked with</description>
        <name>coll_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Empty collection to reset the Contact Collection</description>
        <name>EmptySObjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Term_Code</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Term__c</objectType>
    </variables>
    <variables>
        <name>var_AddtAlerts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the Advisee Case Record</description>
        <name>var_AdviseeCaseID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_AdviseeCaseRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Stores the priority selected on the previous screen.</description>
        <name>var_Alert_Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the alert reason selected on previous screen</description>
        <name>var_Alert_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Status of the alert being created.</description>
        <name>var_Alert_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Record Type ID of the alert being created.</description>
        <name>var_Alert_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Alert Record Type for creation later in the flow.</description>
        <name>var_AlertRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Gets the ID of the Alert Record Type being created</description>
        <name>var_AlertRecordTypeID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Stores a True / False for Individual alert controls</description>
        <name>var_AlertToggle_Individual</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Course Connection ID for this student</description>
        <name>var_CourseConnectionID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <description>Stores the Course Offering ID</description>
        <name>var_CourseOfferingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CurrentAlertInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sfal__Alert__c</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the current Contact in the loop</description>
        <name>var_CurrentContactInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Stores the Faculty Contact record for reference later.</description>
        <name>var_FacultyContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Stores the faculty ID</description>
        <name>var_FacultyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>stores the Contact Faculty RT for lookup filtering later</description>
        <name>var_FacultyRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>var_Selected1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Selected2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the string of all contact IDs selected in the flow</description>
        <name>var_SelectedContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Selected Course Information</description>
        <name>var_SelectedCourse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Offering__c</objectType>
    </variables>
    <variables>
        <name>var_SelectedRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Single Contact being added to the collection and parsing from string</description>
        <name>var_SingleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>stores the Record Type ID for Student from Course Connection</description>
        <name>var_StudentCourseEnrollmentRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>var_Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
