flows/Has_SAL_case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>sets the outcome to false</description>
        <name>Set_false</name>
        <label>Set false</label>
        <locationX>37</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>var_outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>sets the outcome to true</description>
        <name>Set_true</name>
        <label>Set true</label>
        <locationX>227</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>var_outcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checks to see if the current contact has an open case</description>
        <name>Has_Open_Case_record</name>
        <label>Has Open Case record</label>
        <locationX>217</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Set_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sob_case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_true</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Used to check if all input variables are valid, not null</description>
        <name>Valid_variables</name>
        <label>Valid variables</label>
        <locationX>220</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>valid_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_contactRecordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Case</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Returns true or false based on if the contact has a SAL advisee Case. 

Input: Contact ID
Output: Outcome (boolean)

Change log:
Pete Fife May6 2019: Initial creation</description>
    <interviewLabel>Has SAL case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Has SAL case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Case</name>
        <label>Find Case</label>
        <locationX>388</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Open_Case_record</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contactRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>sfal__IsAdviseeRecord__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sob_case</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Valid_variables</startElementReference>
    <status>Active</status>
    <variables>
        <description>The case record related to the contact.</description>
        <name>sob_case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>The student&apos;s contact record</description>
        <name>var_contactRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>captures the outcome if this contact has a SAL Advisee case or not</description>
        <name>var_outcome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
