flows/Single_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>Creates and Adds the Alert to the variable for creation</description>
        <name>Add_Alert_to_Variable</name>
        <label>Add Alert to Variable</label>
        <locationX>1452</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>var_newAlert.sfal__Advisee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SingleContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newAlert.sfal__AdviseeRecord__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AdviseeCaseID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newAlert.sfal__Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Alert_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newAlert.sfal__Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Alert_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newAlert.sfal__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pkl_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newAlert.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Alert_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newAlert.sfal__CourseConnection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CourseConnectionID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_newAlert.sfal__Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inp_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the ContactID from the provided Case to the Student ID variable</description>
        <name>Assign_Student_ID</name>
        <label>Assign Student ID</label>
        <locationX>557</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>var_StudentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AdviseeCaseLookup.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_StudentProvided</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decision to see if the Case ID is provided.</description>
        <name>dec_Case_Provided</name>
        <label>Case Provided</label>
        <locationX>397</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>dec_StudentProvided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Case</defaultConnectorLabel>
        <rules>
            <name>Case_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_CaseContact</targetReference>
            </connector>
            <label>Case Provided</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision split to see if a student was provided or not</description>
        <name>dec_StudentProvided</name>
        <label>Student Provided?</label>
        <locationX>745</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>scrn_StudentLkup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Student</defaultConnectorLabel>
        <rules>
            <name>Student_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_StudentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getStudentInfo</targetReference>
            </connector>
            <label>Student Found</label>
        </rules>
    </decisions>
    <description>V2 - Text Changes</description>
    <dynamicChoiceSets>
        <description>Stores the priority of the Alert being created.</description>
        <name>pklSet_AlertPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>sfal__Priority__c</picklistField>
        <picklistObject>sfal__Alert__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Stores the Alert Reason field</description>
        <name>pklSet_AlertReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>sfal__Reason__c</picklistField>
        <picklistObject>sfal__Alert__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Stores the Alert status options</description>
        <name>pklSet_AlertStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>sfal__Status__c</picklistField>
        <picklistObject>sfal__Alert__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Stores the record types of Alerts able to be created.</description>
        <name>recSet_AlertType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sfal__Alert__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Looks up all Course Offerings where the selected faculty member is listed as primary</description>
        <name>recSet_CourseOffering</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>hed__Faculty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FacultyID</elementReference>
            </value>
        </filters>
        <object>hed__Course_Offering__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recSet_Faculty</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_FacultyRT.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recSet_StudentsViaCourseConnections</name>
        <dataType>String</dataType>
        <displayField>Contact_Name__c</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_StudentCourseEnrollmentRT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CourseOfferingID</elementReference>
            </value>
        </filters>
        <object>hed__Course_Enrollment__c</object>
        <sortField>hed__Contact__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>hed__Contact__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Number of Contacts in String</description>
        <name>Counter</name>
        <dataType>Number</dataType>
        <expression>CEILING({!Length}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Length of the Contact ID String</description>
        <name>Length</name>
        <dataType>Number</dataType>
        <expression>LEN({!var_SelectedContacts})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Stores the remaining Contacts from the string yet to be parsed</description>
        <name>RemainingContacts</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!var_SelectedContacts},({!Length}-20) ))</expression>
    </formulas>
    <formulas>
        <description>Stores a single Contact ID after parsing</description>
        <name>Single_ContactID</name>
        <dataType>String</dataType>
        <expression>LEFT( {!var_SelectedContacts},18 )</expression>
    </formulas>
    <interviewLabel>Single_Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Single_Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the alert in the temp variable</description>
        <name>Create_Alert</name>
        <label>Create Alert</label>
        <locationX>1568</locationX>
        <locationY>338</locationY>
        <inputReference>var_newAlert</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Looks Up the Advisee Case</description>
        <name>get_AdviseeCaseID</name>
        <label>get_AdviseeCaseID</label>
        <locationX>1323</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Alert_to_Variable</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SingleContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AdviseeCaseRT.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>var_AdviseeCaseID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Looks up the Advisee Case Record Type</description>
        <name>get_AdviseeCaseRecordType</name>
        <label>get_AdviseeCaseRecordType</label>
        <locationX>261</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Case_Provided</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advisee Record</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>var_AdviseeCaseRT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Case Contact</description>
        <name>get_CaseContact</name>
        <label>get_CaseContact</label>
        <locationX>401</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Student_ID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>var_AdviseeCaseLookup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Faculty RT for lookup later in the flow.</description>
        <name>get_FacultyRT</name>
        <label>get_FacultyRT</label>
        <locationX>146</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_StudentRT</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Faculty</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>var_FacultyRT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This gets the selected student info for ease of use.</description>
        <name>get_StudentInfo</name>
        <label>get_StudentInfo</label>
        <locationX>1070</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alert_Types</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_SelectedContacts</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>var_SingleContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Student Record Type ID for filtering later</description>
        <name>get_StudentRT</name>
        <label>get_StudentRT</label>
        <locationX>142</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStudentCC_RT</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>var_StudentRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Student Record Type ID from Course Connections to filter the student list later in flow.</description>
        <name>getStudentCC_RT</name>
        <label>getStudentCC_RT</label>
        <locationX>261</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AdviseeCaseRecordType</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>hed__Course_Enrollment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>var_StudentCourseEnrollmentRT</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Student Info, if provided</description>
        <name>getStudentInfo</name>
        <label>getStudentInfo</label>
        <locationX>945</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrn_StudentLkp</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_StudentID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>var_SingleContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <description>What type of Alert are you wanting to create?</description>
        <name>Alert_Types</name>
        <label>Alert Types</label>
        <locationX>1202</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_AdviseeCaseID</targetReference>
        </connector>
        <fields>
            <name>disp_AlertScreen</name>
            <fieldText>&lt;p&gt;Please use the fields below to set up the alert type for {!var_SingleContact.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>depPkl_AlertControls</name>
            <extensionName>c:DependentPicklistCMPwithRecordTypeAndMSPsupport</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>controllingFieldApiName</name>
                <value>
                    <stringValue>sfal__Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>sfal__Alert__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentFieldApiName</name>
                <value>
                    <stringValue>sfal__Priority__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedControllingPicklistValue</name>
                <value>
                    <elementReference>var_Alert_Reason</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordTypeId</name>
                <value>
                    <elementReference>var_Alert_Type</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingPicklistLabel</name>
                <value>
                    <stringValue>Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependentPicklistLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_Alert_Reason</assignToReference>
                <name>selectedControllingPicklistValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_Alert_Type</assignToReference>
                <name>selectedRecordTypeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_Alert_Priority</assignToReference>
                <name>selectedDependentPicklistValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>pkl_Status</name>
            <choiceReferences>pklSet_AlertStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inp_Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Lookups the student based on the Student ID</description>
        <name>scrn_StudentLkp</name>
        <label>scrn_StudentLkp</label>
        <locationX>1072</locationX>
        <locationY>258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Alert_Types</targetReference>
        </connector>
        <fields>
            <name>header_Text</name>
            <fieldText>&lt;p&gt;Please select a course for {!var_SingleContact.Name}:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lkp_Course2</name>
            <extensionName>mp35:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>hed__Course_Enrollment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Course_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please select a course:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>hed__Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>var_StudentID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>hed__Credits_Earned__c = NULL</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_CourseConnectionID.Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrn_StudentLkup</name>
        <label>scrn_StudentLkup</label>
        <locationX>944</locationX>
        <locationY>405</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_StudentInfo</targetReference>
        </connector>
        <fields>
            <name>lkp_student</name>
            <extensionName>mp35:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Step 1 - Search for student below:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>RecordTypeId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>var_StudentRecordType.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>var_StudentID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_SelectedContacts</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>lkp_Course</name>
            <extensionName>mp35:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>hed__Course_Enrollment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>hed__Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Step 2 - Select student&apos;s course below:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Course_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>hed__Credits_Earned__c = NULL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_CourseConnectionID.Id</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>get_FacultyRT</startElementReference>
    <status>Active</status>
    <variables>
        <description>Collection of alerts to be created.</description>
        <name>coll_Alerts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sfal__Alert__c</objectType>
    </variables>
    <variables>
        <description>Stores the collection of Contact IDs being worked with</description>
        <name>coll_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Empty collection to reset the Contact Collection</description>
        <name>EmptySObjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_AddtAlerts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the Advisee Case Record</description>
        <name>var_AdviseeCaseID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the related Case</description>
        <name>var_AdviseeCaseLookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_AdviseeCaseRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Stores the priority selected on the previous screen.</description>
        <name>var_Alert_Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the alert reason selected on previous screen</description>
        <name>var_Alert_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Status of the alert being created.</description>
        <name>var_Alert_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Record Type ID of the alert being created.</description>
        <name>var_Alert_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a True / False for Individual alert controls</description>
        <name>var_AlertToggle_Individual</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Course Connection ID for this student</description>
        <name>var_CourseConnectionID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>hed__Course_Enrollment__c</objectType>
    </variables>
    <variables>
        <description>Stores the Course Offering ID</description>
        <name>var_CourseOfferingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_CurrentAlertInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sfal__Alert__c</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the current Contact in the loop</description>
        <name>var_CurrentContactInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Stores the faculty ID</description>
        <name>var_FacultyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>stores the Contact Faculty RT for lookup filtering later</description>
        <name>var_FacultyRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Stores the new Alert being created.</description>
        <name>var_newAlert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sfal__Alert__c</objectType>
    </variables>
    <variables>
        <description>Stores the string of all contact IDs selected in the flow</description>
        <name>var_SelectedContacts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Single Contact being added to the collection and parsing from string</description>
        <name>var_SingleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>stores the Record Type ID for Student from Course Connection</description>
        <name>var_StudentCourseEnrollmentRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Stores the Student ID for quick filtering.</description>
        <name>var_StudentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the student Record Type ID for filtering</description>
        <name>var_StudentRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
